.container {
  height: 70px;
  padding: 0.5rem 2.5rem;

  background: var(--gray-800);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    img {
      width: 100%;
      height: 60px;
      object-fit: contain;

      cursor: pointer;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;

      li {
        a {
          text-decoration: none;
          color: var(--white);
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        width: 0;
        visibility: hidden;
      }
    }
  }

  .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    .inputBox {
      display: flex;
      align-items: center;

      input {
        border-radius: 8px 0 0 8px;
        height: 40px;
        border: 0;
        padding: 0.5rem;
      }

      button {
        border: 0;
        border-radius: 0 8px 8px 0;
        background: var(--red-500);
        height: 40px;
        width: 40px;
        cursor: pointer;
        padding: 0.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        .mat-icon {
          color: var(--white);
        }
      }
    }

    .mobileButton {
      button {
        width: 0;
        height: 0;
        visibility: hidden;

        border: 0;
        background: transparent;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
      }
    }

    @media (max-width: 768px) {
      .inputBox {
        width: 0;
        visibility: hidden;
      }

      .monitorIcons {
        width: 0;
        visibility: hidden;
      }

      .mobileButton {
        button {
          width: auto;
          height: auto;
          visibility: visible;
        }
      }
    }
  }

  .mat-icon {
    cursor: pointer;
  }
}

.mobileNavContainer {
  background: var(--gray-800);
}

.mobileNav {
  width: 100%;
  height: 100%;
  background-color: var(--gray-800);
  padding: 1rem 0.5rem;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      a {
        font-size: 1rem;
        color: var(--white);
        text-decoration: none;
      }

      .mat-icon {
        color: var(--white);
      }
    }
  }
}
